<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>My name is {{screamIt name}}</p>
        <p>My likes are {{likes}}</p>
        {{> footer}}
    </body>
</html>