<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>This website is a project!</p>
        <p><a href="https://github.com/alvinlu7">GitHub projects</a></p>
        {{> footer}}
    </body>
</html>